ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  align-items: stretch;
  grid-gap: 1rem;
  margin-top: 2rem;
}

li {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

li:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

li a {
  display: block;
  text-align: center;
}

li img {
  width: 200px;
  border: 1px solid #aaa;
}

li span {
  display: block;
}

@media (width <= 520px) {
  ul {
    grid-template-columns: 220px;
  }
}
